Welcome {{ user.email }}
 Verify your account,Follow this link to verify your account
<a href= "http://localhost:8000/verify/{{user.verification_uuid}}/">
    	<strong style="font-size: 20px;">CLICK</strong>
       </a>