{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "main.css" %}" type="text/css" media="screen" />
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <h1>{% block header_text %}{% endblock %}</h1>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% endif %}
    </header>
    <section>
        {% block content %}
        {% endblock %}
    </section>
    {% block extra_body %}{% endblock %}
</body>
</html>}