<form action="{% url 'checkout_page' pk=item.id %}" method="POST">
	 {% csrf_token %}

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key='pk_test_5IMUjzH9C69g1r4mfyJ1dYwx'
        data-amount={{item.price}}
        data-name="Payment Local"
        data-description="testing payment at local"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    	data-locale="auto"
        data-currency="usd">
    </script>
</form>
