<h1>Details of {{item}}</h1>
<header>
        <input type="button"
    class="btn btn-danger" style="width:80;height:24" color="#b91818"
    value="Pay" 
 onclick="location.href='{% url 'order_pay' pk=item.id %}';">
</header>

<table>

   <tr>
   	<td>
    	<strong style="font-size: 35px;">Description : {{item.description}}</strong></td>
    
    	
    	<strong style="font-size: 35px;">Price : {{item.price}}Rs</strong></td>

          </tr>
       
</table>
