{% extends 'base.html' %}

{% block content %}
  <!-- <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  < -->/form>
  <ul>
  {% for user in filter.qs %}
    <li>{{ user.title }} - {{ user.description }}</li>
  {% endfor %}
  </ul>
{% endblock %}