<h1>List of all items</h1>
<form type="get" action=".">
    <input type="text" name="q">
    <button type="submit">Search</button>
</form>
<table>
{% for i in item%}
   <tr>
    <td>
    	<a href= "{% url 'detail' i.id %}">

    	<strong style="font-size: 35px;">{{i.name}}</strong></td>
       </a>
   </tr>


{% endfor %}

</table>

