<h1>List of all items</h1>
<table>
{% for post in post%}
   <tr>
    <td>
    	<a href= "{% url 'post_detail' pk=post.id %}">
    	<strong style="font-size: 35px;">{{post.title}}</strong></td>
       </a>
   </tr>
{% endfor %}

</table>